<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1071068114171-avqnj75s6fvscgac76cos3449bm8cuc3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1071068114171-avqnj75s6fvscgac76cos3449bm8cuc3</string>
	<key>API_KEY</key>
	<string>AIzaSyCFamSTtucxgDmY0NJXdwU-2aXckZ8Db44</string>
	<key>GCM_SENDER_ID</key>
	<string>1071068114171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApp</string>
	<key>PROJECT_ID</key>
	<string>review-b05a7</string>
	<key>STORAGE_BUCKET</key>
	<string>review-b05a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1071068114171:ios:a511ad5694fee43d90945e</string>
</dict>
</plist>